*.log
*.obj
*.res
*.mac
*.sys
*.exe
*.pdb
*.tlog
*.cer
*.cod
*.exp
*.lib
*.err
*.wrn
*.sdv
*.db
*DVL.XML
dist/
dvl/
sdv/
x64/
Release/
Debug/
Win8Debug/
Win8Release/
Win8.1Debug/
Win8.1Release/
Win10Debug/
Win10Release/
.vs/
dirs
dirs.sdf
sdv-map.h
src_files
runsdvui.cmd
SDV-default.xml
virtio/pvvxsvc/virtio_balloon_pub.h
virtio/virtio_balloon/virtio_pci.c
virtio/virtio_balloon/virtio_queue.c
virtio/virtio_balloon/virtio_ring.c
virtio/virtio_balloon/virtio_utils.c
virtio/virtio_balloon/virtio_pci_legacy.c
virtio/virtio_balloon/virtio_pci_modern.c
virtio/virtio_balloon/virtio_pci_wdm.c
virtio/virtio_blk/virtio_pci.c
virtio/virtio_blk/virtio_queue.c
virtio/virtio_blk/virtio_ring.c
virtio/virtio_blk/virtio_utils.c
virtio/virtio_blk/virtio_pci_legacy.c
virtio/virtio_blk/virtio_pci_modern.c
virtio/virtio_blk/virtio_pci_wdm.c
virtio/virtio_blk/virtio_sp_common.c
virtio/virtio_net/virtio_pci.c
virtio/virtio_net/virtio_queue.c
virtio/virtio_net/virtio_ring.c
virtio/virtio_net/virtio_utils.c
virtio/virtio_net/virtio_pci_legacy.c
virtio/virtio_net/virtio_pci_modern.c
virtio/virtio_net/virtio_pci_wdm.c
virtio/virtio_scsi/virtio_pci.c
virtio/virtio_scsi/virtio_queue.c
virtio/virtio_scsi/virtio_ring.c
virtio/virtio_scsi/virtio_utils.c
virtio/virtio_scsi/virtio_pci_legacy.c
virtio/virtio_scsi/virtio_pci_modern.c
virtio/virtio_scsi/virtio_pci_wdm.c
virtio/virtio_scsi/virtio_sp_common.c
virtio/virtio_scsi/storport_reg.c
virtio/virtio_serial/virtio_pci.c
virtio/virtio_serial/virtio_queue.c
virtio/virtio_serial/virtio_ring.c
virtio/virtio_serial/virtio_utils.c
virtio/virtio_serial/virtio_pci_legacy.c
virtio/virtio_serial/virtio_pci_modern.c
virtio/virtio_serial/virtio_pci_wdm.c
virtio/virtio_rng/virtio_pci.c
virtio/virtio_rng/virtio_queue.c
virtio/virtio_rng/virtio_ring.c
virtio/virtio_rng/virtio_utils.c
virtio/virtio_rng/virtio_pci_legacy.c
virtio/virtio_rng/virtio_pci_modern.c
virtio/virtio_rng/virtio_pci_wdm.c
virtio/virtio_rng/coinstaller
virtio/virtio_rng/cng
virtio/pvcrash_notify/virtio_utils.c
virtio/fwcfg/virtio_utils.c
xen/build_all.bat
xen/msb.bat
xen/unsetddk.bat
xen/unsetmsb.bat
xen/StaticDV.job
xen/include/win_mfn.h
xen/include/win_stdint.h
xen/include/win_version.h
xen/include/winpv_defs.h
xen/include/asm/win_cpuid.h
xen/xennet/miniport.c
xen/xennet/miniport.h
xen/xennet/mp_main5.c
xen/xennet/mp_main6.c
xen/xennet/mp_init5.c
xen/xennet/mp_init6.c
xen/xennet/mp_nic5.c
xen/xennet/mp_nic6.c
xen/xennet/mp_rss.c
xen/xennet/init.c
xen/xennet/oid.c
xen/xennet/mp_utils.c
xen/xenblk/storport_reg.c
xen/xenscsi/storport_reg.c
pvvx/build_all.bat
pvvx/msb.bat
pvvx/unsetddk.bat
pvvx/unsetmsb.bat
pvvx/pvvxbn/i386
pvvx/pvvxbn/balloon.c
pvvx/pvvxbn/evtchn.c
pvvx/pvvxbn/gnttab.c
pvvx/pvvxbn/pdofunc.c
pvvx/pvvxbn/pnp.c
pvvx/pvvxbn/power.c
pvvx/pvvxbn/xenbus.c
pvvx/pvvxbn/xenbus_client.c
pvvx/pvvxbn/xenbus_comms.c
pvvx/pvvxbn/xenbus_probe.c
pvvx/pvvxbn/xenbus_xs.c
pvvx/pvvxbn/xen_support.c
pvvx/pvvxbn/xenbus_ioctl.c
pvvx/pvvxbn/pvvxbn_x64.def
pvvx/pvvxbn/pvvxbn_x86.def
pvvx/pvvxbn/amd64/xenbus_glu64.asm
pvvx/pvvxbn/guid.h
pvvx/pvvxbn/xenbus.h
pvvx/pvvxbn/xenbus_comms.h
pvvx/pvvxbn/xen_support.h
pvvx/pvvxbn/virtio_balloon.c
pvvx/pvvxbn/virtio_blndrv.c
pvvx/pvvxbn/virtio_blnpwr.c
pvvx/pvvxbn/virtio_pci.c
pvvx/pvvxbn/virtio_queue.c
pvvx/pvvxbn/virtio_ring.c
pvvx/pvvxbn/virtio_utils.c
pvvx/pvvxbn/virtio_pci_legacy.c
pvvx/pvvxbn/virtio_pci_modern.c
pvvx/pvvxbn/virtio_pci_wdm.c
pvvx/pvvxbn/virtio_balloon.h
pvvx/pvvxbn/virtio_balloon_pub.h
pvvx/pvvxbn/virtio_blnpwr.h
pvvx/pvvxblk/hypervsr_is.c
pvvx/pvvxblk/xenblk.c
pvvx/pvvxblk/xenblkfront.c
pvvx/pvvxblk/xenblk.h
pvvx/pvvxblk/virtio_blk.c
pvvx/pvvxblk/virtio_blkfront.c
pvvx/pvvxblk/virtio_blk.h
pvvx/pvvxblk/virtio_pci.c
pvvx/pvvxblk/virtio_queue.c
pvvx/pvvxblk/virtio_ring.c
pvvx/pvvxblk/virtio_utils.c
pvvx/pvvxblk/virtio_pci_legacy.c
pvvx/pvvxblk/virtio_pci_modern.c
pvvx/pvvxblk/virtio_pci_wdm.c
pvvx/pvvxblk/storport_reg.c
pvvx/pvvxblk/xenbus_apis.c
pvvx/pvvxblk/vxsb_entry.c
pvvx/pvvxblk/virtio_sp_common.c
pvvx/pvvxscsi/hypervsr_is.c
pvvx/pvvxscsi/xenscsi.c
pvvx/pvvxscsi/xenscsi_front.c
pvvx/pvvxscsi/xenscsi.h
pvvx/pvvxscsi/virtio_scsi.c
pvvx/pvvxscsi/virtio_scsi_front.c
pvvx/pvvxscsi/virtio_scsi.h
pvvx/pvvxscsi/virtio_pci.c
pvvx/pvvxscsi/virtio_queue.c
pvvx/pvvxscsi/virtio_ring.c
pvvx/pvvxscsi/virtio_utils.c
pvvx/pvvxscsi/virtio_pci_legacy.c
pvvx/pvvxscsi/virtio_pci_modern.c
pvvx/pvvxscsi/virtio_pci_wdm.c
pvvx/pvvxscsi/storport_reg.c
pvvx/pvvxscsi/xenbus_apis.c
pvvx/pvvxscsi/vxsb_entry.c
pvvx/pvvxscsi/virtio_sp_common.c
pvvx/pvvxnet/hypervsr_is.c
pvvx/pvvxnet/miniport.c
pvvx/pvvxnet/miniport.h
pvvx/pvvxnet/mp_main5.c
pvvx/pvvxnet/mp_main6.c
pvvx/pvvxnet/mp_init5.c
pvvx/pvvxnet/mp_init6.c
pvvx/pvvxnet/mp_nic5.c
pvvx/pvvxnet/mp_nic6.c
pvvx/pvvxnet/init.c
pvvx/pvvxnet/oid.c
pvvx/pvvxnet/mp_rss.c
pvvx/pvvxnet/mp_utils.c
pvvx/pvvxnet/mp_xutils.c
pvvx/pvvxnet/mp_xinterface.c
pvvx/pvvxnet/mp_vnic5.c
pvvx/pvvxnet/mp_vnic6.c
pvvx/pvvxnet/mp_vutils.c
pvvx/pvvxnet/mp_vinterface.c
pvvx/pvvxnet/virtio_queue.c
pvvx/pvvxnet/virtio_ring.c
pvvx/pvvxnet/virtio_pci.c
pvvx/pvvxnet/virtio_utils.c
pvvx/pvvxnet/virtio_pci_legacy.c
pvvx/pvvxnet/virtio_pci_modern.c
pvvx/pvvxnet/virtio_pci_wdm.c
pvvx/pvvxbn/virtio_balloon.h
pvvx/pvvxbn/virtio_balloon_pub.h
pvvx/pvvxbn/virtio_blnpwr.h
pvvx/pvvxblk/hypervsr_is.c
pvvx/pvvxblk/xenblk.c
pvvx/pvvxblk/xenblkfront.c
pvvx/pvvxblk/xenblk.h
pvvx/pvvxblk/virtio_blk.c
pvvx/pvvxblk/virtio_blkfront.c
pvvx/pvvxblk/virtio_blk.h
pvvx/pvvxblk/virtio_pci.c
pvvx/pvvxblk/virtio_queue.c
pvvx/pvvxblk/virtio_ring.c
pvvx/pvvxblk/virtio_utils.c
pvvx/pvvxblk/virtio_pci_legacy.c
pvvx/pvvxblk/virtio_pci_modern.c
pvvx/pvvxblk/virtio_pci_wdm.c
pvvx/pvvxblk/storport_reg.c
pvvx/pvvxblk/xenbus_apis.c
pvvx/pvvxblk/vxsb_entry.c
pvvx/pvvxblk/virtio_sp_common.c
pvvx/pvvxscsi/hypervsr_is.c
pvvx/pvvxscsi/xenscsi.c
pvvx/pvvxscsi/xenscsi_front.c
pvvx/pvvxscsi/xenscsi.h
pvvx/pvvxscsi/virtio_scsi.c
pvvx/pvvxscsi/virtio_scsi_front.c
pvvx/pvvxscsi/virtio_scsi.h
pvvx/pvvxscsi/virtio_pci.c
pvvx/pvvxscsi/virtio_queue.c
pvvx/pvvxscsi/virtio_ring.c
pvvx/pvvxscsi/virtio_utils.c
pvvx/pvvxscsi/virtio_pci_legacy.c
pvvx/pvvxscsi/virtio_pci_modern.c
pvvx/pvvxscsi/virtio_pci_wdm.c
pvvx/pvvxscsi/storport_reg.c
pvvx/pvvxscsi/xenbus_apis.c
pvvx/pvvxscsi/vxsb_entry.c
pvvx/pvvxscsi/virtio_sp_common.c
pvvx/pvvxnet/hypervsr_is.c
pvvx/pvvxnet/miniport.c
pvvx/pvvxnet/miniport.h
pvvx/pvvxnet/mp_main5.c
pvvx/pvvxnet/mp_main6.c
pvvx/pvvxnet/mp_init5.c
pvvx/pvvxnet/mp_init6.c
pvvx/pvvxnet/mp_nic5.c
pvvx/pvvxnet/mp_nic6.c
pvvx/pvvxnet/init.c
pvvx/pvvxnet/oid.c
pvvx/pvvxnet/mp_rss.c
pvvx/pvvxnet/mp_utils.c
pvvx/pvvxnet/mp_xutils.c
pvvx/pvvxnet/mp_xinterface.c
pvvx/pvvxnet/mp_vnic5.c
pvvx/pvvxnet/mp_vnic6.c
pvvx/pvvxnet/mp_vutils.c
pvvx/pvvxnet/mp_vinterface.c
pvvx/pvvxnet/virtio_queue.c
pvvx/pvvxnet/virtio_ring.c
pvvx/pvvxnet/virtio_pci.c
pvvx/pvvxnet/virtio_utils.c
pvvx/pvvxnet/virtio_pci_legacy.c
pvvx/pvvxnet/virtio_pci_modern.c
pvvx/pvvxnet/virtio_pci_wdm.c
pvvx/pvvxnet/xenbus_apis.c
